
#title {
    float: center;
}

.container {
   box-sizing: border-box;
   padding-top: 100px;
}

.box {
    border: 1px dashed #ddd;
    box-shadow: 0 0 0 3px darkgreen, 0 0 0 5px orange, 0 0 0 10px rebeccapurple, 0 0 2px 10px darkgreen;
    padding-top: 50px;
}

h1 {
    font-family: 'Butterfly Kids', cursive; 
    color: rebeccapurple;
    font-weight: bold;
    font-size: 100px;
    border-bottom: double;
    border-color: darkgreen;
    text-align: center;
}

p {
    font-family: 'Bad Script', cursive;
    color: orange;
    font-size: 25px;
    border-bottom: double;
    border-color: darkgreen;
    text-align: center;
}

.ideaBox {
    font-family: 'Bad Script', cursive;
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
    color: orange;

}

.para {
    border-bottom: double;
    border-color: darkgreen;
}

#clickMe {
    background-color: rebeccapurple;
    font-family: 'Bad Script', cursive;
    font-size: 100%;
    border-color: orange;
    color: orange;
    border-style: solid;
    align-content: center;
    height: 100px;
    width: 50vw;
    margin: auto;
    float: center;
}


/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}